body
{
background-color:#f3f4f6;
}
.header{
header
{
    display: flex;
    padding: 10px;
    gap: 25px;
    background-color:black;
    height: 30px;
    
}
a
{
background-color: #000;
color: white;

}


}


.product-container {
  display: flex;
  flex-direction: column; 
  width: 340px; 
  background-color: white;
  border-radius: 16px; 
  padding: 16px; 
  box-shadow: 0 4px 15px black;
  margin: 20px auto; 


.product-image {
  position: relative; 
  width: 100%;
}


.product-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px; 
  display: block;
}


.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff3b30;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 20px;
}


.product h2 {
  font-size: 18px;
  margin: 15px 0 8px 0;
  color: #111;
}

.product p {
  font-size: 13px;
  color: #666;
  line-height: 1.4;
  margin: 0 0 15px 0;
}


.price-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.current-price {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

.old-price {
  color: #888;
  font-size: 14px;
}


.buttons-wrapper {
  display: flex;
  gap: 10px; 
}


.buttons-wrapper button {
  flex: 1; /* جعل الزرين يتوزعان بالتساوي */
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.2s;
}


.btn-cart {
  background-color: #2e7d32;
  color: white;
}


.btn-wishlist {
  background-color: #5a6268;
  color: white;
}


.buttons-wrapper button:hover {
  opacity: 0.9;
}


.buttons-wrapper button:active {
  background-color: #888888 !important;
  transform: scale(0.96);
}
}


label {
  position: absolute;
  
  left: 650px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    font-size: small;
}
        *{
            margin: 0px;
            padding: 0px;
        }